# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://iadluvadnzouggivjrow.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZGx1dmFkbnpvdWdnaXZqcm93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTc2MDQwNDcsImV4cCI6MjAzMzE4MDA0N30.0G7huBR3muisQ7nNMvArRt_YYb8r8uaTEHIXl2VdVV8
